<div class="new-note">
    <div class="new-note-container">
        <form class="form">
            <fieldset>
                <label for="title">Title</label>
                <input name="title" />
            </fieldset>

            <fieldset>
                <label for="description">Description</label>
                <textarea name="description" ng-model="note.description"></textarea>
            </fieldset>

            <fieldset>
                <label for="content">Content</label>
                <textarea name="content"></textarea>
            </fieldset>

            <button class="btn">Save</button>
        </form>
    </div>
</div>
